* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.hide{
    display: none;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-width {
    width: 1180px;
    height: auto;
}
i{
    font-weight: 200;
    font-size: 20px;
    margin-right: 5px;
}
button, .submit {
    padding: 14px 30px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 700;

}

p {
    color: #757575;
}

/* navbar */

header {
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    margin-bottom: 50px;
}

nav {
    padding: 30px 0;
}

.logo h1 {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.menu>ul>li {
    display: inline-block;
}

.menu>ul>li>a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    margin-right: 51px;
}

/* navbar */

/* banner */
.banner-img img {
    width: 550px;
    height: auto;
    margin-bottom: -5px;
}

.banner-info {
    width: 40%;
}

/* banner */
/* About section */
.about {
    background-color: #FFF8F3;
    margin: auto;
    padding: 120px 0;
    text-align: center;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
}

.what-i-do-img {
    padding: 10px 0;
}
.what-i-do-content{
    padding: 0 150px; 
    margin: auto; 
    text-align: center;
}
.what-i-do-title {
    margin: 10px 0;
}

/* About section */

/* resume section */
.section-title {
    text-align: center;
}

/* resume section */

.edu-subdiv-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.edu-subdiv-institute {
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 10px;
}

.subdiv-header {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.subdiv-resume {
    margin-bottom: 20px;
}

hr {
    color: #D1D1D1;
    margin: 15px 0;
}

/* footer */
form textarea, input[type="text"], input[type="email"] {
    padding: 18px 30px;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    background-color: white;
}
.footer-column{
    width: 50%;
}
/* footer */

.about .about-content{
     max-width: 90%;                   /*  not working on responsive */
}

/* media quwey */

@media screen and (max-width:576px) {
    .what-i-do-content{
        padding: 0 20px;
        margin: 0;
    }
    .dev-img{
        display: none;
    }
    .about{
        padding-top: 30px;
        margin-bottom: 0px;
    }
    .about-content{
        max-width: 90%;                /*  not working on responsive */
    }
    .about-info-title{
        margin-bottom: 15px;
    }
    .what-i-do {
        padding: 5px 0;
        margin: unset;
    }
    .about-info, .what-i-do-div, .edu-and-ex, .footer-content, .banner{
        flex-direction: column;
        
    }
    .fixed-width{
        width: unset;
        margin: unset;
    }
    
   .subdiv-header{
    font-size: 25px;
   }
   .edu-subdiv-title{
    font-size: 20px;
   }
   .edu-and-ex{                     /*not working*/
    margin:0 20px;
}
.footer-content{
    padding: 0px 0;
}
.contact-left, .contact-right{
    width: 80%;
}
}

/* media quwey */


@media screen and (min-width:577px) and (max-width:960px){
    .what-i-do{
        margin: 0 10px;
    }
    .what-i-do-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0;
    }
    .fixed-width{
        width: unset;
        margin: unset;
    }
    .what-i-do-content{
        padding: 0 80px;
    }
    .footer-content{
        gap: 0;
    }
    .footer-content, .edu-and-ex{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        
    }
    .footer-items,.edu{
        padding: 0 30px;
    }
    .footer-column{
        width: 100%;
    }
}